body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: aquamarine;
    transition: 0.3s all;
}

#contatar-btn{
    border: 2px solid aquamarine;
    padding: 5px;
    border-radius: 20px;
}

#contatar-btn:hover{
    background-color: aquamarine;
    color:black;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: aquamarine;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 600px;
   /* margin-left: 200px; */
    margin-top: -10px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    height: 50%;
    background-color: white;
    color: black;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
    background-color: aquamarine;
    color:black;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.footer {
    background-color: #333;
    color: aquamarine;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}